nav a:link{
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
}

body{
    /* color: white; */
    font-family: sans-serif;
    border-top: 10px solid navajowhite;
}

header{
    background-color:sandybrown;
    padding: 20px 40px;
    /* padding-left: 40px;
    padding-right: 40px; */
}

nav{
    text-align: center;
}

img{
    width: 100%;
    height: auto;
}

/* body{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
} */

h1,h2,h3,p,li{
    font-family: sans-serif;
}
h1{
    color:red;
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2{
    color: green;
    font-size: 40px;
}

article{
    margin-bottom:px ;
}

h3{
    color:green;
    font-size: 30px;
    margin-bottom: 20px;
}

p{
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul,ol{
    margin-left: 50px;
}

li{
    font-size: 20px;
    margin-bottom: 10px;

}

footer p{
    font-size: 16px;
    /* background-color: aqua;
    border: 5px seagreen; */
}

article header p{
    font-style:italic ;
}

link{
    color: blue;
    text-decoration: none;
}
visited{
    color:blueviolet;
}

a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline orangered;
}
active{
    background-color: black;
    font-style: italic;
}